# timeout in milliseconds for the http requests (optional, defaults to 5000)
#timeout=

# the interval in milliseconds when to find new refresh candidates
# (optional, defaults to 1000)
#granularity=

# whether to substitute the current time or state value into the URL
# (optional, defaults to true)
#format=

# configuration of the first cache item
#<id1>.url=
#<id1>.updateInterval=
# ToonCacheTherm.url=http://192.168.3.175/happ_thermstat?action=getThermostatInfo
#ToonCacheTherm.updateInterval=10000
# ToonCacheTherm.updateInterval=1000000

# configuration of the second cache item  
#<id2>.url=
#<id2>.updateInterval=
